@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

body{
    background-color: #353535;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
}
div{
    position: relative;
}
h1{
    position: absolute;
    color: white;
    top: 0;
    margin: 90px;
}
.sylka{
    position: absolute;
    color: white;
    top: 0;
    margin: 110px;
}